{% extends "base.html" %}

{% block title %}
<title>站点归档 - {{ SITENAME }}</title>
{% endblock %}

{% block content %}

<div class="container sc-articleflow">
    <div class="row">
        <div class="col s12 m12">
            <h1 style="color: #f5f5f5">{{ SITENAME }} 的站点归档</h1>


            <ul class="collapsible">
                <li>
                    <div class="collapsible-header" style="outline: none;">
                        <i class="material-icons">all_inclusive</i> 所有文章
                    </div>
                    <div class="collapsible-body" style="background-color: white">
                        {% for article in dates %}
                        <p style="color: #9e9e9e; margin-bottom: 0.3rem">
                            <i class="material-icons">date_range</i> {{ article.locale_date }} •
                            <i class="material-icons">people</i> 
                            {% for author in article.authors %}
                            <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }} </a>
                            {% endfor %} •
                            <i class="material-icons">comment</i> 0 •
                            <i class="material-icons">category</i> {{ article.category.name }}
                        </p>
                        <h5 style="margin-top: 0; margin-bottom: 1rem"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h5>
                        {% if not(loop.last) %}
                        <hr>
                        {% endif %}
                        {% endfor %}
                    </div>
                </li>
                {% for year in range(2100, 1960, -1) %}

                {% for article in dates %}
                {% if article.date.year == year %}

                {% if loop.first %}
                <li id="{{ year }}" class="active">
                {% else %}
                <li id="{{ year }}">
                {% endif %}
                    <div class="collapsible-header" style="outline: none;"><i class="material-icons">calendar_today</i>按年份: {{ year }}
                    </div>
                    <div class="collapsible-body" style="background-color: white">
                        {% for article in dates %}
                        {% if article.date.year == year %}
                        <p style="color: #9e9e9e; margin-bottom: 0.3rem">
                            <i class="material-icons">date_range</i> {{ article.locale_date }} •
                            <i class="material-icons">people</i> 
                            {% for author in article.authors %}
                            <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }} </a>
                            {% endfor %} •
                            <i class="material-icons">comment</i> 0 •
                            <i class="material-icons">category</i>
                            <a href="/categories.html#{{ article.category.name }}">{{ article.category.name }}</a>
                        </p>
                        <h5 style="margin-top: 0; margin-bottom: 1rem"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h5>
                        {% if not(loop.last) %}
                            {% if loop.nextitem.date.year == year %}
                            <hr>
                            {% endif %}
                        {% endif %}

                        {% endif %}
                        {% endfor %}
                    </div>
                </li>
                {% break %}
                {% endif %}

                {% endfor %}
                {% endfor %}
            </ul>

        </div>
    </div>
</div>
{% endblock %}