{% extends "base.html" %} 

{% block title %}
<title>{{ article.title }} - {{ SITENAME }}</title>
{% endblock %}

{% block cssinclude %}
<link type="text/css" rel="stylesheet" href="/theme/css/sc-article.css"> 
{% endblock %}

{% block meta %}
{{ super() }}
<meta property="og:title" itemprop="name" content="{{ article.title }} - {{ SITENAME }}">
{% if article.desc %}
<meta property="og:description" itemprop="description" content="{{ article.desc }}">
{% endif %}
<meta property="og:url" itemprop="url" content="{{ SITEURL }}/{{ article.url }}">
{% if article.license %}
<meta itemprop="license" content="{{ article.license_url }}">
{% else %}
<meta itemprop="license" content="http://creativecommons.org/licenses/by-sa/4.0/">
{% endif %}
{% for keyword in article.keywords %}
<meta name="keywords" content="{{keyword}}" />
{% endfor %}

{% for description in article.description %}
<meta name="description" content="{{description}}" />
{% endfor %}

{% for tag in article.tags %}
<meta name="tags" content="{{tag}}" />
{% endfor %}

{% endblock %}

{% block jsinclude %}
<script src="/theme/js/sc-article.js"></script>
{% endblock %}

{% block content %} 
{{ super() }}

<script>
  document.getElementById("nav-background").style.backgroundImage = "url({{ article.titlepic }}";
</script>

<div class="container sc-article sc-content">
  <div class="row">
    <div class="col s12 m12 l10">

      <h2>
        <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}" style="color: #f5f5f5">{{ article.title }}</a>
      </h2>
      <div class="card">
        <div class="card-content" style="background-color:#f5f5f5">
          <p style="color: #757575">
            <i class="far fa-calendar-alt"></i>
            <time class="published" datetime="{{ article.date.isoformat() }}">
              {{ article.locale_date }}
            </time>
            {% if article.modified %}
            <time class="modified" datetime="{{ article.modified.isoformat() }}">
              {{ article.locale_modified }}
            </time>
            {% endif %} •
            <i class="fas fa-user"></i>
            {% for author in article.authors %}
            <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }} </a>
            {% endfor %} •
            <i class="fas fa-comments"></i> 0 •
            <i class="fas fa-tags"></i>
            {% for tag in article.tags %}
            <meta name="tags" content="{{tag}}" /> {% endfor %}
          </p>
        </div>

        <div id="content" class="card-content" style=" font-size: 112%">
          {{ article.content }}
        </div>

      </div>

      <div class="nextPrev">
          {% if article.prev_article %}
          <div id='prevActive' class="col s8 m5 l5">
              <a id='sc-tip' class="waves-effect" href="{{ SITEURL }}/{{ article.prev_article.url}}">
                  <i class="fas fa-chevron-left"></i>  Prev
                <h5 class="sc-neighborh">{{ article.prev_article.title }}</h5>
              </a>
          </div>
          {% endif %}

          {% if article.next_article %}
          <div id='nextActive' class="col s8 m5 l5 right">
              <a id='sc-tip' class="waves-effect" style="text-align: right" href="{{ SITEURL }}/{{ article.next_article.url}}">
                  Next
                  <i class="fas fa-chevron-right"></i>
                <h5 class="sc-neighborh">{{ article.next_article.title }}</h5>
              </a>
          </div>
          {% endif %}
        </div>

    </div>
    
    <div class="col s12 m12 l2">
      <div id="sc-toc" class="hide-on-med-and-down">
        <div class="sc-tocprogress">
            <i id="sc-tocindicator" class="sc-tocindicator">&nbsp;</i>
        </div>

        {% if article.toc %}
        {{ article.toc}}
        {% endif %}
    </div>

  </div>
</div>
</div>
</div>
{% endblock %}