{% extends "base.html" %}

{% block title %}
<title>作者:{{ author }} - {{ SITENAME }}</title>
{% endblock %}

{% block content %}

<div class="container sc-articleflow">
    <div class="row">
        <div class="col s12 m12 l12">

            <div class="card">
                    <div class="card-content" style="background-color:#f5f5f5">
                        <p>{{ author }} 创作的文章</p>
                    </div>
                    <div class="card-content">
                            {% for article in dates %}
                            {% if author in article.authors %}

                            <p style="color: #9e9e9e; margin-bottom: 0.3rem">
                                <i class="material-icons">date_range</i> {{ article.locale_date }} •
                                <i class="material-icons">people</i> 
                                {% for author in article.authors %}
                                <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }} </a>
                                {% endfor %} •
                                <i class="material-icons">comment</i> 0 •
                                <i class="material-icons">category</i>
                                <a href="/categories.html#{{ article.category.name }}">{{ article.category.name }}</a>
                            </p>
                            <h5 style="margin-top: 0; margin-bottom: 1rem"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h5>
                            {% if not(loop.last) %}
                            <hr>
                            {% endif %}

                            {% endif %}
                            {% endfor %}
                    </div>
            </div>
        
        </div>
    </div>
</div>
{% endblock %}