<!DOCTYPE html>
<html>

<head>
    {% block title %}
    <title>{{ SITENAME }}</title>
    {% endblock %}
    {% block meta %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#039be5">
    <meta property="og:site_name" content="{{ SITENAME }}">
    <meta property="og:type" content="website">
    {% endblock %}
    <link rel="stylesheet" href="/theme/css/materialize.min.css">
    <link type="text/css" rel="stylesheet" href="/theme/css/pygments.css">
    <link href='https://fonts.loli.net/icon?family=Material+Icons' rel='stylesheet'>
    <link type="text/css" rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
    <link type="text/css" rel="stylesheet" href="/theme/css/sc-blog.css">
    {% block cssinclude %}
    {% endblock %}
</head>

<body>
<div id="nav-background" class="nav-background z-depth-1-half" style="background-image: url(/theme/imgs/yosemite.png)">
</div>

<div class="progress sc-progress ">
    <div class="indeterminate teal accent-4"></div>
</div>

<div id="sc-leftNav">
    <ul id="slide-out" class="sidenav">
        <li>
            {% include 'includes/userview.html' %}  
        </li>
        <li>
            <a href="/" target="_blank">
                <i class="material-icons" style="margin-right: 1rem">home</i>
                主页
            </a>
        </li>
        <li>
            <a href="/archives.html" target="_blank">
                <i class="material-icons" style="margin-right: 1rem">archive</i>
                归档
            </a>
        </li>
        <li>
                <a href="/categories.html" target="_blank">
                    <i class="material-icons" style="margin-right: 1rem">category</i>
                    分类
                </a>
            </li>
        <li>
            <a href="/tags.html" target="_blank">
                <i class="material-icons" style="margin-right: 1rem">label</i>
                标签
            </a>
        </li>
        <div class="divider"></div>
        <li>
                <a href="/friend.html" target="_blank">
                    <i class="material-icons" style="margin-right: 1rem">contacts</i>
                    友情链接
                </a>
            </li>
        <li>
            <a href="/about.html" target="_blank">
                <i class="material-icons" style="margin-right: 1rem">info</i>
                关于我们
            </a>
        </li>
    </ul>
</div>

<div class="navbar-fixed">
    <nav id="sc-nav" class="light-blue darken-1" style="transition: 0.3s">

        <div class="nav-wrapper">
            <div class="row">
                <div class="col s12">
                    <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large waves-effect waves-light">
                       <i class="material-icons">menu</i>
                    </a>
                    <a href="/" class="brand-logo" target="">{{ SITENAME }}</a>

                    <!-- rightTopToolBox -->
                    <ul class="right">
                        <li>
                            <a class="dropdown-trigger waves-effect " href="#!" data-target="rightTopTool">
                                <i class="material-icons">more_vert</i>
                            </a>
                        </li>
                        <ul id="rightTopTool" class="dropdown-content">
                            <li>
                                <a href="#">
                                    <i class="material-icons">translate</i> Translate</a>
                            </li>
                        </ul>
                    </ul>

                    <!-- rightTop Links. Only show on large devices. -->
                    <ul class="right hide-on-med-and-down">
                        <li>
                                <a href="/" target="_blank">主页</a>
                        </li>
                        <li>
                            <a href="/archives.html" target="_blank">归档</a>
                        </li>
                        <li>
                            <a href="/categories.html" target="_blank">分类</a>
                        </li>
                        <li>
                            <a href="/about.htmll" target="_blank">关于我们</a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </nav>
</div>

<div class="sc-container">
{% block content %}
{% endblock %}
</div>

<div class="fixed-action-btn">
    <a id="toTop" class="btn-floating btn-large orange down" href="#top">
      <i class="waves-effect waves-light large material-icons">arrow_upward</i>
    </a>
</div>

<footer class="page-footer light-blue darken-1">
    <div class="container">
        <div class="row">


            <div class="col s12 center" >
                <p>
                    由 <a href="https://blog.getpelican.com/">Pelican</a> 强力驱动. <br>
                    主题: <a href="https://github.com/szclsya/sc-blog">sc-blog - GitHub</a> by <a href="https://github.com/szclsya">szclsya</a>.
                </p>

                <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/" style="text-align: center">
                    <img alt="知识共享许可协议" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png"/>
               </a>
        
                <br style="text-align: center">
                    如无特殊说明，本站作品采用<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">知识共享署名-相同方式共享 4.0国际许可协议</a> 进行许可。</br>
            </div>

        </div>
    </div>

    <div class="footer-copyright">
        <div class="container">
            © 2017 szclsya, learningis1st.
        </div>
    </div>
</footer>

<div class="leftDetector hide-on-med-and-down" onmouseover=""></div>

<!--JavaScript at end of body for optimized loading-->
<script src="/theme/js/materialize.min.js"></script>
<script src="https://cdnjs.loli.net/ajax/libs/smooth-scroll/14.2.0/smooth-scroll.polyfills.min.js"></script>
<script src="/theme/js/sc-blog.js"></script>
{% block jsinclude %}
{% endblock %}

</body>

</html>