{% extends "base.html" %}

{% block title %}
<title>文章分类 - {{ SITENAME }}</title>
{% endblock %}

{% block content %}

<div class="container sc-articleflow">
    <div class="row">
        <div class="col s12 m12">
            <h1 style="color: #f5f5f5">{{ SITENAME }} 的文章分类</h1>


            <ul class="collapsible">
                    {%- for category, articles in categories %}
                    <li>
                        <div id="{{ category }}" class="collapsible-header" style="outline: none">
                            <i class="material-icons">category</i> 分类: {{ category }}
                            <span class="badge">{{ articles|count }}</span>
                        </div>
                        <div class="collapsible-body" style="background-color: white">
                            {% for article in articles %}
                                <p style="color: #9e9e9e; margin-bottom: 0.3rem">
                                    <i class="material-icons">date_range</i> {{ article.locale_date }} •
                                    <i class="material-icons">people</i> 
                                    {% for author in article.authors %}
                                    <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }} </a>
                                    {% endfor %} •
                                    <i class="material-icons">comment</i> 0 •
                                    <i class="material-icons">category</i> {{ article.category.name }}
                                </p>
                                <h5 style="margin-top: 0; margin-bottom: 1rem"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h5>
                                {% if not(loop.last) %}
                                <hr>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </li>
                    {% endfor %}
            </ul>

            <script>
                anchor = document.location.hash.substring(1);
                if(anchor) {
                    document.getElementById(anchor).parentNode.classList.add("active")
                }
            </script>

        </div>
    </div>
</div>
{% endblock %}