{% extends "base.html" %} 

{% block title %}
<title>主页 - {{ SITENAME }}</title>
{% endblock %}

{% block cssinclude %}
<link type="text/css" rel="stylesheet" href="/theme/css/sc-tagcloud.css"> 
{% endblock %}

{% block content %}

<div class="container sc-articleflow">
    <div class="row">
        <div class="col s12 l9">
            {% for article in articles_page.object_list %}
            <div class="card hoverable">
                <div class="card-image" style="min-height: 15rem; overflow:hidden; vertical-align: middle; background-image:url({{ article.titlepic }}); background-position: center">
                    <span class="card-title">
                        <a href="{{ SITEURL }}/{{ article.url }}" class="article-title" style="color: white">{{ article.title }}</a>
                    </span>
                </div>
                <div class="card-content" style="padding-top: 0.8em; padding-bottom: 0.8em;background-color: #ECEFF1">
                     <p style="color: #9e9e9e; margin-bottom: 0.3rem">
                        <i class="material-icons">date_range</i> {{ article.locale_date }} •
                        <i class="material-icons">people</i> 
                        {% for author in article.authors %}
                            <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }} </a>
                        {% endfor %} •
                        <i class="material-icons">comment</i> 0 •
                        <i class="material-icons">category</i> 
                        <a href="/categories.html#{{ article.category.name }}">{{ article.category.name }}</a>
                    </p>
                </div>
                <div class="card-content" style="padding-top:0.5em">
                    <p style="margin-top: 0.5rem"> {{ article.summary }}
                        <a href="{{ SITEURL }}/{{ article.url }}">Continue Reading</a>
                    </p>
                </div>
            </div>
            {% endfor %} 
            {% if articles_page.has_other_pages() %} 
                {% include 'pagination.html' %} 
            {% endif %}
        </div>

        <div class="col s12 l3">
            <div class="hide-on-med-and-up">
                <hr>
            </div>

            <div class="card">
                {% include 'includes/author_info.html' %}
            </div>

            <div class="card sc-indextag">
                <div class="card-content">
                    <h5 style="margin:0"><i class="material-icons">label</i> 标签</h5>
                    {% include 'includes/tagcloud.html' %}
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <h5 style="margin-bottom: 1rem; margin-top: 0">随机文章</h5>
                    <a href="/{{ RANDOM }}" class="waves-effect waves-light btn-large" style="display: block; text-align: center"><i class="material-icons">shuffle</i></a>
                </div>
            </div>
        </div>

    </div>
</div>
</div>

{% endblock content %}