{% if DEFAULT_PAGINATION %}
<ul class="pagination center">
    
    {% if articles_page.has_previous() %}
    <li class="waves-effect">
            <a href="{{ SITEURL }}/{{ articles_previous_page.url }}">
    {% else %}
    <li class="disabled">
            <a href="#!">
    {% endif %}
            <i class="fas fa-chevron-left fa-lg"></i>
        </a>
    </li>
    
    {% for no in  range(1, articles_paginator.num_pages+1)  %}
    {% if no == 1 %}
        {% if no == articles_page.number %}
        <li class="active blue">
            <a href="index.html">{{ no }}</a>
        </li>
        {% else %}
        <li>
            <a href="index.html">{{ no }}</a>
        </li>
        {% endif %}
    {% else %}
        {% if no == articles_page.number %}
        <li class="active blue">
            <a href="index{{no}}.html">{{ no }}</a>
        </li>
        {% else %}
        <li>
            <a href="index{{no}}.html">{{ no }}</a>
        </li>
        {% endif %}
    {% endif %}
    {% endfor %}

    {% if articles_page.has_next() %}
    <li class="waves-effect">
            <a href="{{ SITEURL }}/{{ articles_next_page.url }}">
    {% else %}
    <li class="disabled">
            <a href="#!">
    {% endif %}
            <i class="fas fa-chevron-right fa-lg"></i>
        </a>
    </li>
</ul>
{% endif %}