{% extends "base.html" %} 

{% block title %}
<title>所有标签 - {{ SITENAME }}</title>
{% endblock %}

{% block cssinclude %}
<link type="text/css" rel="stylesheet" href="/theme/css/sc-tagcloud.css"> 
{% endblock %}

{% block content %}

<div class="container sc-articleflow">
    <div class="row">
        <h1 style="color: #f5f5f5">Tags in {{ SITENAME }}</h1>
        <div class="col s12 m12">
            <div class="card">

                <div class="card-content">
                        {% include 'includes/tagcloud.html' %}
                </div>

                <div class="card-content" style="padding: 0">
                    <ul class="collapsible z-depth-0">
                        {%- for tag, articles in tags|sort %}
                        <li>
                            <div id="{{ tag }}" class="collapsible-header" style="outline: none">
                                <i class="material-icons">label</i> 标签: {{ tag}}
                                <span class="badge">{{ articles|count }}</span>
                            </div>
                            <div class="collapsible-body" style="background-color: white">
                                {% for article in articles %}
                                    <p style="color: #9e9e9e; margin-bottom: 0.3rem">
                                        <i class="material-icons">date_range</i> {{ article.locale_date }} •
                                        <i class="material-icons">people</i> 
                                        {% for author in article.authors %}
                                        <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }} </a>
                                        {% endfor %} •
                                        <i class="material-icons">comment</i> 0 •
                                        <i class="material-icons">category</i> 
                                        <a href="/categories.html#{{ article.category.name }}">{{ article.category.name }}</a>
                                    </p>
                                    <h5 style="margin-top: 0; margin-bottom: 1rem"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h5>
                                    {% if not(loop.last) %}
                                    <hr>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                <script>
                    anchor = document.location.hash.substring(1);
                    if(anchor) {
                        document.getElementById(anchor).parentNode.classList.add("active")
                    }
                </script>

            </div>
        </div>
    </div>
</div>

{% endblock %}