#content h1, h2, h3, h4, h5 {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  color: #1e88e5
}

#content h1 {
  font-size: 250%;
}

#content h2 {
  font-size: 200%;
}

#content h3 {
  font-size: 170%;
}

#content h4 {
  font-size: 130%;
}

#content h5 {
  font-size: 115%;
}

#content p {
  font-size: 110%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.sc-article {
  margin-top: 15rem;
}

/* Next & Prev article */

.nextPrev {
  margin-top: 1.5rem;
}

#sc-tip {
  color: #757575;
  transition: color 0.2s ease;
}

#sc-tip:hover {
  color: #212121;
  transition: color 0.2s ease;
}

.sc-neighborh {
  margin-top: 0;
  color: #2196f3;
  transition: color 0.2s ease;
}

.sc-neighborh:hover {
  color: #1565c0;
  transition: color 0.2s ease;
}

#nextArticle {
  text-align: right
}

/* Table of contents */

.toc0 {
  margin-top: 22rem;
  position: relative
}

.toc1 {
  top: 6rem;
  position: fixed;
}

.toc2 {
  top: 0;
  position: relative;
}

.toc {
  top: 0
}

.simple {
  margin: 0
}

.toc .active {
  font-weight: bold
}

.toc a {
  color: #5f6368;
  padding-left: 1.5rem;
  display: block;
  width: 25rem;
  transition: background-color 0.1s ease;
  font-size: 1.2rem;
  line-height: 1.4rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  border-left: 0.3rem solid #bdbdbd;
}

.toc a:hover {
  color: black;
  background-color: #fafafa
}

.toc .simple ul li a {
  z-index: 10;
  border-style: none;
  border-color: transparent;
  border-left: 0.3rem solid #e0e0e0;
  padding-left: 3.5rem
}

.sc-tocprogress {
  z-index: 100;
  position: absolute;
  top: 0rem;
  bottom: 0rem;
  width: 0.3rem
}

.sc-tocindicator {
  /*display: none;*/
  z-index: 100;
  position: absolute;
  background-color: black;
  transition: top 0.3s cubic-bezier(0.4, 0.0, 0.2, 1), height 0.2s linear;
  height: 2.2rem;
  top: 0rem;
  width: 0.3rem
}