@font-face {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style : normal;
  src: url("/theme/fonts/fontawesome/fa-regular-400.woff2") format("woff2"), url("/theme/fonts/fontawesome/fa-regular-400.woff") format("woff"), url("/theme/fonts/fontawesome/fa-regular-400.ttf") format("truetype");
}

.nav-background {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0rem;
  left: 0;
  /*   height: 53.7rem; Full screen size */
  height: 40rem;
  z-index: -1;
  opacity: 1;
  background-attachment: fixed;
  background-position: center;
  /* Parallax */
}

.navbar-fixed {
  z-index: 800;
}

.sc-container {

}

.sc-navimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  text-align: center
}

.sc-transbar {
  background: transparent;
  z-index: 9;
}

.sc-articleflow {
  margin-top: 20rem;
}

.container {
  width: 98%
}

a {
  outline: none;
  color: #2196f3;
  transition: color 0.2s ease-out;
  -webkit-transition: color 0.2s ease-out;
}

a:hover {
  color: #2962ff;
  transition: color 0.2s ease-out;
  -webkit-transition: color 0.2s ease-out;
}

.navbar-fixed a:hover {
  color: white
}

blockquote {
  border-left: 5px solid #039be5;
}

.article-title:hover {
  text-shadow: 2px 3px 2px #9e9e9e;
  transition: text-shadow 0.3s;
}

.page-footer a {
  color: #eceff1;
  transition: color 0.3s ease-out;
  -webkit-transition: color 0.3s ease-out;
}

.page-footer a:hover {
  color: #00bcd4
}

.page-footer a:before {
  content: "<i class="fas fa-link"></i>";
}

.leftDetector {
  position: fixed;
  top: 5em;
  bottom: 0;
  left: 0.5%;
  right: 97%
}

.sc-progress {
  position: fixed;
  margin: 0;
  z-index: 901;
  border-color: #4285f4;
  background-color: transparent;
}

.material-icons {
  font-size: 1.2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

hr {
  border: none;
  height: 1px;
  background-color: #e0e0e0
}

#toTop {
  top: 0;
  transition: top 0.15s cubic-bezier(0.4, 0.0, 1, 1);
}