.tagcloud {
    display: inline;
    list-style-type: none;
}

.tagcloud li {
    list-style: none;
    display: inline;
}

.tagcloud .tag-1 { font-size: 1em; font-weight: 350; }
.tagcloud .tag-2 { font-size: 1.4em; font-weight: 400; }
.tagcloud .tag-3 { font-size: 1.8em; font-weight: 450; }
.tagcloud .tag-4 { font-size: 2.2em; font-weight: 500; }
.tagcloud .tag-5 { font-size: 2.4em; font-weight: 550; }
.tagcloud .tag-6 { font-size: 2.8em; font-weight: 600; }
.tagcloud .tag-7 { font-size: 3.2em; font-weight: 650; }
.tagcloud .tag-8 { font-size: 3.6em; font-weight: 700; }
.tagcloud .tag-9 { font-size: 4em; font-weight: 750; }
.tagcloud .tag-10 { font-size: 4.4em; font-weight: 800; }

.sc-indextag .tagcloud .tag-1 { font-size: 1.0em; font-weight: 200; }
.sc-indextag .tagcloud .tag-2 { font-size: 1.2em; font-weight: 230; }
.sc-indextag .tagcloud .tag-3 { font-size: 1.4em; font-weight: 260; }
.sc-indextag .tagcloud .tag-4 { font-size: 1.6em; font-weight: 290; }
.sc-indextag .tagcloud .tag-5 { font-size: 1.8em; font-weight: 320; }
.sc-indextag .tagcloud .tag-6 { font-size: 2.0em; font-weight: 350; }
.sc-indextag .tagcloud .tag-7 { font-size: 2.2em; font-weight: 380; }
.sc-indextag .tagcloud .tag-8 { font-size: 2.4em; font-weight: 410; }
.sc-indextag .tagcloud .tag-9 { font-size: 2.6em; font-weight: 440; }
.sc-indextag .tagcloud .tag-10 { font-size: 2.8em; font-weight: 460; }